@import 'common';

// http://sass-lang.com/documentation/file.SASS_REFERENCE.html
// http://sass-lang.com/guide


#test1
{
  color: $main_color;
  
  // calculation
  width: 10px*100;
  
  // nested 
  a {
    color: blue;
    
    // nested property
    font: {
        family: fantasy;
        size: 5em;
        weight: bold;
    }
    
    // reused parent
    &:hover { color: $a_hover_color; }
 }
}